{% extends "layout.html" %} 
{% block content %}    
<div class="row">
    <div class="col-sm-12">        
        <div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
            <div class="text-center">
                <i class="fa fa-ban text-danger" style="font-size: 64px;"></i>
                <h1 class="text-danger">405 Method Not Allowed</h1>                
                <h3>Sorry, the requested method is not allowed.</h3>
            </div>
        </div>        
    </div>
</div>
{% endblock content %}

{% block unauth_content %}    
<div class="row">
    <div class="col-sm-12">        
        <div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
            <div class="text-center">
                <i class="fa fa-ban text-danger" style="font-size: 64px;"></i>
                <h1 class="text-danger">405 Method Not Allowed</h1>                
                <h3>Sorry, the requested method is not allowed.</h3>
            </div>
        </div>        
    </div>
</div>
{% endblock unauth_content %}