<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ APP_NAME }}{{ " - " ~ menu if menu else "" }}</title>

    {% include "lib_css.html" %}
    
    {% block style %}    
    {% endblock style %}
</head>


<body class="hold-transition sidebar-mini layout-fixed">    
    {% if current_user.is_authenticated %}
        {% include "sidebar.html"  %}
    {% endif %}
         
    {% block content %}{% endblock content %}

    {% include "lib_js.html" %}                 

    {% block script %}
    {% endblock script %}    
</body>

</html>