<!-- Jquery -->        
<script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>  
<!-- Popper -->
<script src="{{ url_for('static', filename='popper.js/dist/umd/popper.min.js') }}"></script>      
<!-- Bootstrap -->
<script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>     
<!-- AdminLTE 3.2 -->
<script src="{{ url_for('static', filename='admin-lte/dist/js/adminlte.min.js') }}"></script>    
<!-- Moment -->        
<script src="{{ url_for('static', filename='moment/moment.js') }}"></script>
<!-- Daterange picker -->        
<script src="{{ url_for('static', filename='daterangepicker/daterangepicker.js') }}"></script>
<!-- Jquery Validate -->
<script src="{{ url_for('static', filename='jquery-validation/dist/jquery.validate.min.js') }}"></script>            
<!-- Sweet Alert2 -->
<script src="{{ url_for('static', filename='sweetalert2/dist/sweetalert2.min.js') }}"></script>
<!-- Custom JS -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- Display popup message from flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}    
    {% for category, message in messages %}        
    <script type="text/javascript">
        let category    = {{ category|trim|tojson|safe }};
        let message     = {{ message|trim|tojson|safe }};
        alertMessage(category, message);
    </script>        
    {% endfor %}    
{% endif %}
{% endwith %}